# Data Science Tools and Ecosystem

 In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**

- Some of the popular languages that Data Scientists use
- Some of the commonly used libraries used by Data Scientists
- Data science tools
- examples of evaluating arithmetic expressions in Python
- How to insert markdowns in anotebook
- How to create tables in markdowns
- How to save notebooks
- How to share anotebook through github
- How to to make lists in amarkdown

Some of the popular languages that Data Scientists use are:
1. Python
2. R programming
3. Julia
4. SQL
5. Java
6. Javascript
7. MATLAB
8. Scala
9. Go
10. PHP

Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. Numpy
3. Tensor flow
4. scikit learn
5. ggplot2
6. caret
7. Keras
8. Matplotlib
9. Hadoop
10. SciPy

| Data Science Tools |
|-|  
| Jupyter Notebook |
| RStudio |
| Apache Zeppelin |
| Spyder |
| Orange |
| Apache Spark |
| Keras |
| Pandas |

### Below are a few examples of evaluating arithmetic expressions in Python

In [2]:
### This a simple arithmetic expression to multiply then add integers

(3*4)+5

17

In [3]:
# This will convert 200 minutes to hours by diving by 60
minutes = 200
hrs = minutes/60
hrs

3.3333333333333335

## Author

Mugume martin